<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />


    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />

    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">

            <img src="./static/img/logo.svg" />
          </div>
        </a>
        <nav>
          <a href="/hobbies">Hobbies</a>
        </nav>

      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">

        <img src="./static/img/logo.jpg" />

      </div>
      <h1>{{ title }}</h1>
    </div>


    <div class="work-experience">
      <h2>
        Work Experience <a href="/add/work" class="add-new-btn">+ Add New</a>
      </h2>
      {% for job in work_experience %}
      <div class="job">
        <h3>{{ job.job_title }}</h3>
        <p><strong>{{ job.company }}</strong> | {{ job.dates }}</p>
        <p>{{ job.description }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="education">
      <h2>
        Education <a href="/add/education" class="add-new-btn">+ Add New</a>
      </h2>
      {% for school in education_data %}
      <div class="school">
        <h3>{{ school.university }}</h3>
        <p><strong>{{ school.degree }}</strong> | {{ school.dates }}</p>
        <p>{{ school.description }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="map-container">
      <h2>Cool places I've been to</h2>
      <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
      var map = L.map("map").setView([20, 0], 2);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var locations = [
        { lat: 9.07344, lng: 7.49065, title: "Abuja" },
        { lat: 5.37, lng: 7.5, title: "Ohafia" },
        { lat: 6.5244, lng: 3.3792, title: "Lagos" },
      ];

      locations.forEach(function (location) {
        L.marker([location.lat, location.lng])
          .addTo(map)
          .bindPopup("<b>" + location.title + "</b>");
      });
    </script>



   <img src="./static/img/umaprofile.png" />

      </div>
      <h1>{{ title }}</h1>
    </div>
    <div class="about-me">
      <h2>About Me</h2>
      <p>
        Hello! I'm Uma, a creative individual with a love for technology and
        writing. I specialize in building and deploying web applications. When
        I'm not coding, you can find me exploring the great outdoors or playing
        video games.
      </p>

    </div>

    <div class="work-experience">
      <h2>Work Experience</h2>
      <div class="job">
        <h3>Software Engineer</h3>
        <p><strong>Storehub</strong> | 2023 - Present</p>
        <p>
          Developed a service that helps with inventory management and handles
          inventory synchronization with Shopify and other ecommerce stores,
          alerting customers on WhatsApp when an order is made with Express,
          React, Typescript, Postgres, and Tailwind
        </p>
      </div>
      <div class="job">
        <h3>Frontend Engineer</h3>
        <p><strong>Drawstring</strong> | 2022 - 2023</p>
        <p>
          Took charge of the integration of all smart contract APIs by making
          sure the smart contract data was aligned with data from the backend
          while smart contract remained our single source of truth.
        </p>
      </div>
      
          <div class="education">
      <h2>Education</h2>
      <div class="school">
        <h3>University of Port-Harcourt</h3>
        <p>
          <strong>Bachelor of Science in Computer Science</strong> | 2021 - 2025
        </p>
        <p>Graduated with 4.1 GPA.</p>
      </div>
    </div>




  </body>
</html>
